.pokemons__item {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 20px 30px;
  align-items: center;
  border: 2px solid #88b55a;
  border-radius: 8px;
  margin: 6px;
}
@media (max-width: 690px) {
  .pokemons__item {
    width: 80%;
  }
}
@media (max-width: 330px) {
  .pokemons__item {
    flex-direction: column;
  }
}

.pokemons__wrapTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  color: aliceblue;
}
@media (max-width: 330px) {
  .pokemons__wrapTitle {
    width: 50%;
  }
}

.pokemons__wrapButton {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.pokemons__btn_active {
  background-color: #8eda43;
}
.pokemons__btn_active1 {
  background-color: #4384da;
}
