.pokeCompare {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pokeCompare__title {
  font-size: 30px;
}

.pokeCompare__stat {
  font-size: 20px;
}

.pokeCompare__wrapBtn {
  padding: 10px;
}

.pokeCompare__btn {
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.pokeCompare__img {
  display: inline-block;
}

/* ------------------------------------------------ */

.compareSreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.compareSreen__title {
  font-size: 30px;
}

.compareSreen__cardBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* ------------------------------------------------ */

.pokeTable {
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff2d;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

/* -------------------------- */
.pokeTable__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokeTable__name {
  font-size: 24px;
  font-weight: bold;
}

.pokeTable__id {
  font-size: 18px;
  color: #666;
}

/* ------------------------------------ */
.pokeTable__imageWrapper {
  text-align: center;
  margin: 16px 0;
}

.pokeTable__image {
 width: 100%;
}

/* ------------------------------- */
.pokeTable__delete {
  text-align: right;
  margin-bottom: 8px;
}

.pokeTable__deleteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.pokeTable__deleteIcon {
  width: 40px;
  height: 40px;
}

/* Типы покемона */
.pokeTable__types {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.pokeTable__type {
  padding: 4px 8px;
  background-color: #fd5151;
  border-radius: 8px;
  font-size: 14px;
  color: #2e3b44;
}

/* ------------------------------- */
.pokeTable__physical {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.pokeTable__physicaStat {
  text-align: center;
}

.pokeTable__label {
  font-weight: bold;
  display: block;
}

.pokeTable__value {
  font-size: 14px;
}

/* ---------------------------------------- */
.pokeTable__stats {
  margin-bottom: 16px;
}

.pokeTable__statsTitle {
  font-size: 18px;
  margin-bottom: 8px;
}

.pokeTable__statRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.pokeTable__statName {
  padding-right: 12px;
  width: 70px;
  font-weight: bold;
}

.pokeTable__statBar {
  flex: 1;
  height: 10px;
  background-color: #dddddd4f;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 8px;
}

.pokeTable__statBarFill {
  height: 100%;
  background-color: #4caf50;
}

/* ------------------------------ */
.pokeTable__abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokeTable__abilitiesTitle {
  font-size: 18px;
  margin-bottom: 8px;
  color: #53cbcf;
}

.pokeTable__abilitiesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokeTable__abilityTtem {
  margin-bottom: 4px;
}

.pokeTable__hiddenTag {
  color: #888;
  margin-left: 4px;
  font-size: 12px;
  font-style: italic;
}
