.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemons__pagination {
  width: 100%;
}
.pokemons__paginationWrap {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.pokemons__paginationPage {
  font-size: 22px;
}
.pokemons__paginationBtn {
  width: 130px;
  background-color: rgb(89, 90, 92);
}

.scrollStop {
  overflow: hidden;
}
