.modal {
  position: absolute;
  width: 100%;
}
.modal__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  height: 100vh;
  border: 2px solid rgb(145, 67, 67);
  border-radius: 6px;
  background-color: rgba(80, 216, 27, 0.356);
  padding: 15px;
  z-index: 100;
}
.modal__text {
  font-size: 30px;
  text-align: center;
  padding: 0 0 10px 0;
  color: rgb(255, 255, 255);
}

.modal__btn {
  width: 140px;
  height: 60px;
  font-size: 22px;
}
