#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; /* центрирование */
  height: 100vh;
  text-align: center;
}
/* .wrapRoot {
  max-width: 100vh;
} */
